* {
    margin: auto 0px;
    padding: 0px;
}

body {
    font-size: 16px;
    color: #212121;
    background-color: #f5f5f5;
}

.header {
    overflow: hidden;
    height: 500px
}

.remove-padding {
    padding: 0px !important;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    transition: all .51s ease;
    font-size: medium;
    font-weight: 500;
}

.navbar-brand>img {
    height: 100%;
    float: left;
}

.navbar-brand {
    padding: 5px;
    color: slategray !important;
    font-size: medium;
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.navbar-brand::before {
    content: "\00a0";
}

.navbar-trans {
    background-color: rgba(255, 255, 255, 0.13);
    box-shadow: none;
    border-bottom: 1px solid rgba(158, 158, 158, 0.45);
}

.navbar-trans .active a {
    background-color: rgba(244, 244, 244, 0.55) !important;
}

.navbar-trans .navbar-collapse.collapse.in {
    background-color: white;
}

.nav>li>a {
    padding-left: 30px;
    padding-right: 30px;
}

.phone-number {
    display: inline !important;
    padding: 5px !important;
    font-family: Roboto;
}

.hero-slider {
    height: 100%;
}

#cf,
#cf_nav {
    height: 100%;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

#cf img,
#cf_nav img {
    position: absolute;
    left: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

@keyframes cf3FadeInOut {
    0% {
        opacity: 1;
    }
    45% {
        opacity: 1;
    }
    55% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

#cf img.top,
#cf_nav img.top {
    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 2.5s;
    animation-direction: alternate;
}

.overlay {
    /*background-color: rgba(27, 87, 148, 0.56);*/
    height: 500px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay h2 {
    letter-spacing: 1.5px;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.87);
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    animation: slideInDown 1.5s ease-in-out;
}

.thumb-slider-container {
    background-color: rgba(255, 255, 255, 0.5);
    min-height: 150px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.29);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.55);
    display: grid;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#littleCarousel {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.little-slider {
    width: 100%;
    height: 75px;
    position: relative;
}

.little-slider ul {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.little-slider li {
    height: 75px;
    float: left;
    list-style: none;
    position: relative;
    width: 150px;
    line-height: 70px;
    background-color: white;
    border: 1px solid rgba(29, 29, 29, 0.26);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.38);
    margin-left: auto;
    margin-right: auto;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img,
.little-slider li img {
    width: auto;
    max-height: 85%;
    max-width: 140px;
}

.thumb-slider-outter {
    position: absolute;
    width: 100%;
    top: 57%;
    left: 0;
}

.blur-slider {
    width: 100%;
    height: 100%;
    filter: blur(5px);
    position: absolute;
    left: 0;
    top: 0;
    clip-path: url(#blur_clip);
}

.phone-mobile {
    position: fixed;
    top: 8%;
    right: 3%;
    opacity: 0;
    animation: showafterDelay .51s forwards;
    animation-iteration-count: 1;
    animation-delay: 2s;
    transition: opacity 0s linear;
}

.heading {
    position: absolute;
    width: 100%;
    left: 0;
    top: 40%;
}

.phone-mobile button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: bounceIn 1s ease;
    animation-delay: 2s;
}

.detials-block {
    padding: 50px 0px;
}

.detials-line {
    width: 150px;
    border: 1px solid #ED3636;
}

.details-image {
    padding: 0px;
    height: 420px;
    overflow: hidden;
    background-color: white;
}

.details-image img {
    height: 100%;
}

.detials-text {
    background-color: white;
    height: 670px;
}

.block-3 {
    background: url(../img/block-3_bg.jpg);
    background-size: cover;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.53) inset;
    padding: 50px 0px;
}

.myform-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    border-top: 5px solid #ef4036;
}

.error-msg {
    display: none;
}

.form-hide {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(245, 245, 245, 0.82);
    top: 0;
    left: 0;
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    animation: zoomIn .25s ease;
}
.form-hide .panel{
    margin: 0px;
}

footer {
    position: absolute;
    width: 100%;
    height: auto;
    padding: 0px 15px;
}

footer a {
    color: white;
    text-decoration: none;
}

.footer-brand {
    text-decoration: none;
}

.footer-brand small {
    color: white;
    font-family: 'MonotypeCorsiva';
    font-size: 18px;
    line-height: 65px;
    letter-spacing: 2px;
    font-weight: 500;
}

.copyrights,
.copyrights a {
    line-height: 65px;
    color: white !important;
}

.social-block-icon .icon {
    color: #fff;
    font-size: large;
}

.social-block-icon {
    width: 50px;
    height: 50px;
    padding: 8px 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 6px 10px;
    transition: all .25s ease;
    cursor: pointer;
}

.social-block-icon:hover {
    background-color: white;
}

.social-block-icon:hover .icon {
    color: #ef4036;
}

@keyframes showafterDelay {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*For Iphone 5*/

@media (min-width: 300px) {
    .navbar-brand small {
        font-size: 80%;
    }
    .overlay h2 {
        font-size: large;
    }
}


/*For Iphone 6*/

@media (min-width: 350px) {
    .navbar-brand small {
        font-size: 92%;
    }
    .overlay h2 {
        font-size: x-large;
    }
}


/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .overlay h2 {
        font-size: 50px;
        margin-top: 0px;
    }
    .details-image,
    .detials-text {
        height: 543px;
    }
}


/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .overlay h2 {
        font-size: 50px;
        margin-top: 0px;
    }
    .details-image,
    .detials-text {
        height: 420px;
    }
}


/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .overlay h2 {
        font-size: 50px;
        margin-top: 0px;
    }
    .details-image,
    .detials-text {
        height: 420px;
    }
}